

{% extends 'base.html' %}

{% block content %}

<section class="login-section flex align-items">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="/static/images/signup-cta.svg" alt="My Image" class="w-100">
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Sign Up to New Account</h2>
                    </div>
                    <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" name="username" id="username" class="form-control" placeholder="Enter Username">
                                    </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password">
                                    </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary w-100">Register</button>
                            </div>
                        </div>
                        <!-- <input type="text" name="username" id="" placeholder="Username">
                        <input type="email" name="email" id="" placeholder="username@email.com">
                        <input type="password" name="password" id="" placeholder="Password"> -->
                        
                    </form>
                    </div>
                    <div class="card-footer">
                        <a href="/users/login" class="btn btn-secondary w-100" target="_blank">Back to Log In</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
</section>

{% endblock %}